<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Plant</title>
</head>
<body>
<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>

<form th:action="@{'/plantAdd/'+${boxId}}"  method='POST'>
    <table>
        <tr>
            <td>Select plant :</td>
            <td>
                <select th:field="${form.plantName}">
                    <option value=""> -- </option>
                    <option th:each="plant : ${plants}"
                            th:value="${plant.id}"
                            th:utext="${plant.name}">
                    </option>
                </select>

            </td>
        </tr>

        <tr>
            <td><input name="submit" type="submit" value="submit" /></td>
        </tr>
    </table>
</form>
<br>
<p>
<a href="#" th:href="@{/}" role="button">Cancel</a>
</p>
</body>
</html>