<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>personList</title>
</head>
<body>
<th:block th:include="/_menu"></th:block>


<h2>Personal Account Page</h2>
<h3>Welcome :  <span th:utext="${userInfo}"></span> </h3>
<b>This is protected page!</b>


<!--
<br/><br/>

<div th:if="${userInfo != null}" th:utext="${userInfo}"></div>

<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
-->

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>