<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PlantEdit</title>
</head>
<body>
<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>

<h1>Change the number of selected sapling: </h1>

<form th:action="@{'/plantEdit/'+${boxId}+'/'+${myPlantId}}"
      th:object="${plant}" method="POST">
    <input th:type="hidden" name="id" th:field="${plant.id}" />
    Number of sapling:
    <input type="number" th:field="*{num}" />
    <br/>
    <input type="submit" value="Create" />
    <a href="#" th:href="@{/}" role="button">Cancel</a>
</form>
</body>
</html>