<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>
<h1>Create a Person:</h1>
<form th:action="@{/register}"
      th:object="${personForm}" method="POST">
    Login:
    <input type="text" th:field="*{name}" />
    <br/>
    Email:
    <input type="email" th:field="*{email}" />
    <br/>
    Password:
    <input type="password" th:field="*{password}">
    <br/>
    Confirm password:
    <input type="password" th:field="*{doublePassword}">
    <input type="submit" value="Create" />


    <br/><br/>

    <div th:if="${message != null}" th:utext="${message}"></div>
    <div th:if="${passwordIncorrect != null}" th:utext="${passwordIncorrect}"></div>

</form>
</body>
</html>